#header {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 99;
}
#header .header__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgba(255, 255, 255, 0.1);
  -webkit-backdrop-filter: blur(15px);
          backdrop-filter: blur(15px);
  padding: 1rem;
}
#header .header__inner .header__logo {
  font-size: 1.7rem;
  text-align: center;
  text-transform: uppercase;
  line-height: 1;
}
#header .header__inner .header__logo em {
  font-size: 16px;
  display: block;
  color: var(--black200);
}
#header .header__inner .header__nav li {
  display: inline-block;
}
#header .header__inner .header__nav li a {
  text-transform: uppercase;
  font-size: 20px;
  padding: 14px;
  position: relative;
}
#header .header__inner .header__nav li a::before {
  content: "";
  position: absolute;
  width: calc(100% - 28px);
  height: 1px;
  background-color: var(--mainColor300-color);
  left: 14px;
  bottom: 10px;
  transition: 0.35s;
  transform: scaleX(0);
}
#header .header__inner .header__nav li a:hover::before {
  transform: scaleX(1);
}
#header .header__inner .header__nav li a.on::before {
  transform: scaleX(1);
}
#header .header__inner .header__nav_mobile {
  display: none;
  width: 30px;
  height: 30px;
  cursor: pointer;
}
#header .header__inner .header__nav_mobile span {
  display: block;
  width: 30px;
  height: 2px;
  background-color: var(--mainColor100-color);
  margin-top: 15px;
  position: relative;
}
#header .header__inner .header__nav_mobile span::before {
  content: "";
  width: 30px;
  height: 2px;
  background-color: var(--mainColor100-color);
  right: 0;
  top: 10px;
  position: absolute;
  transition: 0.35s;
}
#header .header__inner .header__nav_mobile span::after {
  content: "";
  width: 30px;
  height: 2px;
  background-color: var(--mainColor100-color);
  left: 0;
  bottom: 10px;
  position: absolute;
  transition: 0.35s;
}

@media (max-width: 800px) {
  #header .header__inner .header__nav {
    display: none;
  }
  #header .header__inner .header__nav.show {
    display: block;
  }
  #header .header__inner .header__nav.show ul {
    position: absolute;
    right: 0;
    top: 75px;
    background-color: rgba(255, 255, 255, 0.1);
    z-index: 99;
    min-width: 250px;
    padding: 20px 0;
  }
  #header .header__inner .header__nav.show ul li {
    display: block;
    text-align: right;
  }
  #header .header__inner .header__nav.show ul li a {
    display: block;
    padding: 10px;
  }
  #header .header__inner .header__nav.show + #header .header__inner .header__nav_mobile span::before {
    width: 15px;
  }
  #header .header__inner .header__nav.show + #header .header__inner .header__nav_mobile span::after {
    width: 15px;
  }
  #header .header__inner .header__nav_mobile {
    display: block;
  }
}